.parent1 {
  background-image: url(forest\ fire.jpg);
}
.parent {
  border: 5px solid rgb(0, 0, 0);
  height: 500px;
  width: 550px;
  position: relative;
  margin: 0px auto;
  background-position: center;
  background-size: cover;
}
.child1 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  color: white;
}

.link1 {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.text1 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.parent2 {
  margin-top: 0px;
  background-image: url(heat\ pump.JPG);
}
.child2 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: blue;
}

.link2 {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: blue;
}

.text2 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: blue;
}

.parent3 {
  background-image: url(oysters.jpg);
}
.child3 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.link3 {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.text3 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
